<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" th:href="@{/css/my_styles.css}" />
        <title>Something went wrong!</title>
    </head>
    <body>
        <div class="container error">
            <header>
                <div class="row align-items-center justify-content-center text-center">
                    <div class="col-1">
                        <span class="material-icons" style="font-size: 48px;" >error</span>
                    </div>
                    <div class="col-11">
                        <h1>Something went wrong!</h1>
                    </div>
                </div>
            </header>
            <div class="row align-items-center justify-content-center info">
                <h1>Error <span th:text="${status}">Status</span></h1>
                <p th:text="${errorMessage}">Error message</p>
                <p>Sorry for the inconvenience.</p>
            </div>
        </div>
    </body>
</html>